.blueunder {
  color: blue;
    text-decoration: underline;
}

.blue{
  color: blue;
}

.center{
  display: block;
  border: 2px dashed;
  
  border-color: blue;
}

copyright{
  font-size: 10;
  color: blue;
  text-decoration: underline; 
}
