alpha { 
  font-style: italic;
  font-size: 200%;
}

hm {
    height: 400px;
    background: linear-gradient(to bottom, #0000ff 4%, #ff00ff 100%)
}


beta { 
  font-size: 100%;
  font-style: italic;
}

photos {
   width: 30%;
   float: left;
   color: #AFEEE;
   font-size: 25px;
        }
  



  
